<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.sch.smktelkom_mlg.project.xirpl603122130.tugasakhir">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="id.sch.smktelkom_mlg.project.xirpl603122130.tugasakhir.SplashScreen"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>


        </activity>

        <activity
            android:name="id.sch.smktelkom_mlg.project.xirpl603122130.tugasakhir.MainActivity"
            android:label="@string/app_name">

        </activity>
        <activity android:name=".activity_main2" />
        <activity android:name=".activity_main3" />
        <activity android:name=".activity_main4" />
        <activity android:name=".activity_main5" />
        <activity android:name=".activity_main6" />
        <activity android:name=".activity_main7" />
        <activity android:name=".activity_main8" />
        <activity android:name="id.sch.smktelkom_mlg.project.xirpl603122130.tugasakhir.MainActivity2" />
        <activity android:name="id.sch.smktelkom_mlg.project.xirpl603122130.tugasakhir.MainActivity3" />
        <activity android:name="id.sch.smktelkom_mlg.project.xirpl603122130.tugasakhir.MainActivity4" />
        <activity android:name="id.sch.smktelkom_mlg.project.xirpl603122130.tugasakhir.MainActivity5" />
        <activity android:name="id.sch.smktelkom_mlg.project.xirpl603122130.tugasakhir.MainActivity6" />
        <activity android:name="id.sch.smktelkom_mlg.project.xirpl603122130.tugasakhir.MainActivity7" />
        <activity android:name="id.sch.smktelkom_mlg.project.xirpl603122130.tugasakhir.MainActivity8" />
        <activity android:name="id.sch.smktelkom_mlg.project.xirpl603122130.tugasakhir.MainActivity9" />
        <activity android:name="id.sch.smktelkom_mlg.project.xirpl603122130.tugasakhir.MainActivity10" />
        <activity android:name="id.sch.smktelkom_mlg.project.xirpl603122130.tugasakhir.MainActivity11" />
        <activity android:name="id.sch.smktelkom_mlg.project.xirpl603122130.tugasakhir.MainActivity12" />
        <activity android:name="id.sch.smktelkom_mlg.project.xirpl603122130.tugasakhir.MainActivity13"></activity>
    </application>

</manifest>